/* Chapter Epigraphs */


blockquote {
    font-size: 1.4rem;
}

blockquote p {
    //width: 55%;
    width: 86%;
    margin-right: 40px;
}

blockquote footer {
    //width: 55%;
    font-size: 1.1rem;
    text-align: left;
}

div.epigraph {
    margin: 5em 0;
}

div.epigraph > blockquote {
    margin-top: 3em;
    margin-bottom: 3em;
}

div.epigraph > blockquote,
div.epigraph > blockquote > p {
    font-style: italic;
}

div.epigraph > blockquote > footer {
    font-style: normal;
    width: 45%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 0;
    margin-top: 0.4455rem;
    margin-bottom: 3.1182rem;
}

div.epigraph > blockquote > footer > cite {
    font-style: italic;
}

/* end chapter epigraphs styles */
