---
layout: default
---

<h2>Last Posts</h2>
{% for post in site.posts %}
	<time>{{ post.date | date: "%b %-d, %Y" }}</time>
	<h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
	{% if entry.excerpt %}
        	{{ post.excerpt | markdownify }}
        <div class="more-link">
          <a href="{{ post.url | relative_url }}">{{ site.data.text[site.locale].read_more | default: 'Read More' }}</a>
        </div>
      	{% endif %}
	
	{% if post != site.posts[-1] %}
	<hr>
	{% endif %}
{% endfor %}
